body .entry {
  max-width: unset !important;

  .entry-content {
    max-width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;

    p:not(:empty) {
      margin: 10px 0;
      border-bottom: 1px solid #bfbfbf;
      padding: 10px 0;

      :root[data-darkreader-scheme] & {
        border-bottom-color: #d70e0e !important;
      }
    }
  }

}
